.header {
  height: 100px;
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.menu a {
  margin-left: 40px;
  color: #fff;
  transition: 0.3s;
}
.menu a:hover {
  color: orange;
}
